body,
html,
.container {
margin: 0;
padding: 0;

height: 100%;
max-width: 100vw;
width: 100vw;

color: #0c4465; 
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16px;
text-align: center;                    

display: flex;
flex-direction: column;
}

li,
ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

a {
    text-decoration: none;
}


.font__basic {
    color: #0c4465; 
}

/*  Skip links  */

.skiplinks {
        height: 10vw;
        max-height: 50px;
        width: 50vw;
        max-width:300px;

        position: absolute;
        left: 0;
        top: -500px;
        
        padding-left: 10px;
        padding-top: 8px;
        
        background-color: #ffffff;
        border: 2px solid #da2727;
        border-radius: 10px;
        
        font-size: calc(0.6rem + 3.125vw - 10px);
        
        
}
.skiplinks:focus{
    outline: none;
    position: absolute;
    top: 0;
}


.fa-readme {
    font-size: 1.5em;
}



/*  Header */
.header {
    background: #2ec4cf;
    width:100vw;
}

.header__title {
    color:white;
    font-size: 1.25rem;
}


/** Navigation for home **/
nav {
    text-align: left;
    width: 100vw;
}


.fa-home {
    font-size: 2em;
}

.link__home {
    padding-left:1vw;
    padding-right: 1vw;
    padding-bottom: 2.3vw;
    padding-top: 4.5vw;
    
}

.link__home:focus{
    outline: none;
    border: 2px solid #da2727;
    border-radius: 10px;
}


.link__home--text {
    font-size: 2rem;
    margin-left: 5px;
}

/** main content **/
.main__container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0;
}

/** Google maps **/
.map__container { 
    width: 100%;  
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.map__google {
    width: 100%;
    height: 500px;
}


/** options **/

.options__container {
    width: 100%;

}

/** Restaurant results **/
.restaurants__list {
    width: 100%;
}


/* Screen width 400px style */

@media screen and (min-width: 400px) {
    .main__container {
        flex-direction: row;
    }


    .header__title {
      font-size: calc(1.25rem + 3.125vw - 10px);
  }

  .link__home {
    padding-left:6px;
    padding-right: 6px;
    padding-bottom: 15px;
    padding-top: 30px;

}
  }
    

/*  Screen width 650 px  */

@media screen and (min-width:650px) {
    .skiplinks{
        font-size: 20px;
        padding-right: 5px;
    }

    
}

/* Screen width 960px style */

@media screen and (min-width: 960px) {
    .header__title {
      font-size: calc(1.25rem + 20px);

    }



}  